<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RESUME CREATOR</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body>
<div id="main">
    <h1 class="simple">WELCOME TO THE RESUME CREATOR</h1>
    <h2 class="aqua">CREATE RESUME WITH PERSONALISATION</h2>
    <a href="/form/personal"><button id="btn" class="aqua">START NOW</button></a>
</div>
</body>
</html>